<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='granite.jquery'}"/><div data-component-name="reset-password" data-sly-use.ResetPasswordModel="com.techem.core.models.ResetPassword" class="cmp-reset-password">
  <h2 class="cmp-reset-password__headline text-center">${ResetPasswordModel.headline}</h2>
  <p class="cmp-reset-password__sub-headline text-center">${ResetPasswordModel.subHeading}</p>
  <div class="cmp-reset-password__line"></div>

  <div class="cmp-form-container cmp-reset-password__form-container mt--none">
    <div class="cmp-reset-password__description text-center" data-sly-test="${ResetPasswordModel.description}">
      ${ResetPasswordModel.description @ context='html'}
    </div>

    <div id="cmp-reset-password__status_success" class="cmp-reset-password__status cmp-alert__pattern alert-success" hidden>${ResetPasswordModel.mailSentMessage}</div>
    <div id="cmp-reset-password__status_error" class="cmp-reset-password__status cmp-alert__pattern alert-warning" hidden>${ResetPasswordModel.mailErrorMessage}</div>

    <form id="cmp-reset-password__form" name="cmp-reset-password__form" class="cmp-form" method="POST" action="${ResetPasswordModel.endpointURL}?pwRedir=${request.scheme}://${request.serverName}${ResetPasswordModel.setPasswordLocation}.html">
      <div class="text-input">
        <div class="cmp-form-text">
          <label for="cmp-reset-password__email">${ResetPasswordModel.inputLabel}</label>
          <input class="cmp-form-text__text" data-cmp-hook-form-text="input" type="email" id="cmp-reset-password__email" name="email" required>
        </div>
      </div>

      <div class="button mt--xsmall text-center">
        <button type="SUBMIT" id="cmp-reset-password__submit" class="cmp-form-button">${ResetPasswordModel.submitLabel}</button>
      </div>
    </form>
  </div>

  <div class="text-center">
    <a data-sly-test="${ResetPasswordModel.returnLinkText}" class="cmp-reset-password__link"
       href="${ResetPasswordModel.returnLink}.html">${ResetPasswordModel.returnLinkText}</a>
  </div>
</div>