.aem-AuthorLayer-Edit {
    .social-media {

    }
}

.social-media {
    width: 100%;

    .social-media__headline {
        position: relative;
        display: block;
        font-size: 16px;
        font-family: $font-universe-roman-bold;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        color: $color-background;
        margin: 0 0 10px 0;

         @media screen and (max-width: 767px) {
            padding-left: 8px;
         }
    }

    &__category {
        display: flex;
        padding: 0;
        margin:0;
        list-style:none;
        width: 100%;

        @media screen and (max-width: 1024px) {
            justify-content: space-between;
        }

        @media screen and (max-width: 768px) {
            justify-content: initial;
        }

        a {
            display: inline-block;
            font-size: 0;
            line-height: 0;
            margin: 8px 25px;
            text-decoration: none;
            color: $color-background;

            @media screen and (max-width: 1024px) {
                margin: 8px 0;
            }

            @media screen and (max-width: 768px) {
                margin: 8px 25px;
            }

            svg{
                overflow: visible;
                cursor: pointer;
                path{
                    fill: $color-background;
                }
            }
            &:hover{
                svg{
                    fill: $color-primary-button !important;
                    path{
                        fill: $color-background !important;
                    }
                }
            }
            &:first-of-type{
                margin-left: 0;
                @media screen and (max-width: 767px) {
                    padding-left: 8px;
                }
            }
        }
    }
}