.aem-AuthorLayer-Edit {
    .social-media {

    }
}

.social-media {

    .social-media__headline {
        position: relative;
        display: block;
        font-size: 16px;
        font-family: $font-universe-roman-bold;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        color: $color-background;
        margin: 0 0 10px 0;

         @media screen and (max-width: 767px) {
            padding-left: 8px;
         }
    }

    &__category {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        margin:0;
        list-style:none;
        a {
            display: inline-block;
            font-size: 0;
            line-height: 0;
            margin: 8px 25px;
            text-decoration: none;
            color: $color-background;
            svg{
                overflow: visible;
                cursor: pointer;
                path{
                    fill: $color-background;
                }
            }
            &:hover{
                svg{
                    fill: $color-primary-button !important;
                    path{
                        fill: $color-background !important;
                    }
                }
            }
            &:first-of-type{
                margin-left: 0;
            }
        }
    }
}