<div data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"
     data-sly-use.textSectionModel="com.techem.core.models.TextSectionPage"
     data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.imageTemplate="image.html"
     data-sly-use.actionsTemplate="actions.html"
     id="${component.id}"
     class="cmp-teaser${!wcmmode.disabled && teaser.imageResource ? ' cq-dd-image' : ''} aem-Grid aem-Grid--12 aem-Grid--default--12"
     data-cmp-data-layer="${teaser.data.json}">
    <sly data-sly-test.sectionPage="${textSectionModel.sectionPage}"></sly>
    <a class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--tablet--6 aem-GridColumn--phone--12 cmp-teaser__content">
        <div class="cmp-content__left">
            <h1 class="cmp-text-image-headline">${sectionPage.stageHeadline}</h1>
            <div class="cmp-teaser__description">${sectionPage.stageText}</div>
        </div>
    </a>
	<div class="cmp-image__left aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--tablet--6 aem-GridColumn--phone--12">
        <h1 class="cmp-text-image-headline">${sectionPage.stageHeadline}</h1>
		<img class="cmp-tile-icons cmp-image-tile-arrow" src="${sectionPage.image}">
	</div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-teaser'}"></sly>
