.text-image{
  @include cmpMarginTop();
  .cmp-container-headline {
    font-family: $font-universe-roman-bold;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: -.17px;
    text-align: center;
    color: $color-foreground;
    padding-top: 30px;
    margin: 30px auto;
    max-width: 720px;
  }
  .cmp-teaser {
    display: flex;
    justify-content: space-between;
    max-width: 70pc;
    margin: 0 auto;
    color: $color-foreground-header;

    .cmp-image__left.aem-GridColumn {
      order: 2;
      padding: 0;
    }
    .cmp-image__right.aem-GridColumn{
      padding: 0;
    }
    .cmp-content__right {
      padding: 0 50px;
    }
    .cmp-content__left{
      padding: 0 50px;
    }
    .cmp-content__right {
      @at-root .cmp-teaser {
        flex-direction: row;
      }
    }
    .cmp-teaser__image {
      border-radius: 50%;
      .cmp-image {
        img {
          border-radius: 40px 0 40px 0;
        }
      }
    }

    .cmp-teaser__content {
      position: relative;
      font-family: $font-universe-roman;
      text-align: left;
      align-items: normal;
      width: 60%;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      color: #fff;

      .cmp-text-image-headline {
        font-family: $font-universe-roman-bold;
        font-size: 20px;
        letter-spacing: 0.2px;
        line-height: 1.4;
        color: $color-foreground-header;
        text-align: left;
        margin-bottom: 20px;
      }

      .cmp-teaser__description {
        color: $color-separator-dark;
        font-family: $font-universe-roman;
        font-size: 16px;
        letter-spacing: -.1px;
        line-height: 1.63;
      }

      .cmp-arrow{
        max-width: 30px;
        margin-top: 20px;
      }
    }
  }
  .cmp-image-tile-arrow{
    border-radius: 0;
    .cmp-newsArticles-arrow {
      display: block;
      position: relative;
      width: 28px;
      height: 10px;
      margin-top: 30px;
      margin-left: 2px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-style: solid;
        border-color: $color-primary-button;
        border-width: 2px 2px 0 0;
        right: 0;
        transform: rotate(45deg);
        transition: all .2s ease-in;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        border-style: solid;
        border-color: $color-primary-button;
        top: 49%;
        transform: translateY(-50%);
        width: 28px;
        height: 0;
        border-width: 2px 0 0;
        transition: all .2s ease-in;
      }
    }
  }
  &:hover{
    .cmp-image-tile-arrow {

      .cmp-newsArticles-arrow {
        &:before{
          right: -4px;
        }
        &::after {
          width: 32px;
        }
      }
    }
  }
}
@media only screen and (max-width: 769px) {
  .text-image{
    .cmp-teaser {
      display: block;
      max-width: 90%;
      .cmp-teaser__content{
        display: block;
      }
      .cmp-content__left{
        padding:30px 0;
      }
      .cmp-content__right{
        padding:30px 0;
      }
    }
  }
}