.cmp-image-b-radius {
  @include cmpMarginTop();

  .cmp-image {
    max-width: 780px;
  }

  .cmp-image__image {
    border-radius: $border-radius-top-l-bottom-r;
    width: auto;
    max-width: 100%;
    display: block;
  }

  &.image-with-border {
    .cmp-image__image {
      border: 1px solid $color-border;
    }
  }

  &.image-centered {
    .cmp-image, .cmp-image__image {
      margin: 0 auto;
    }
  }
}