.news-article {
    @include cmpMarginTop();
}
.cmp-newsArticles {
    max-width: 77pc;
    margin: 0 auto;

    .cmp-newsArticles-button {
        height: 34px;
        padding: 0 15px 0 15px;
        border-radius: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        background-color: $color-primary-button;
        font-family: $font-universe-roman-bold;
        font-size: $font-size;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: 0.3px;
        color: $color-foreground-dark;
    }

    &__container {
        display: grid;
        max-width: 77pc;
        grid-gap: 30px 88px;
        grid-template-columns: repeat(auto-fill, minmax(340px, 3fr));
        grid-auto-rows: 10px;
        align-items: start;

        &:before {
            display: none;
        }

        @media only screen and (max-width: 768px) {
            display: block;
        }

        .cmp-newsArticles_text-stage.aem-GridColumn.aem-GridColumn--default--4 {
            padding: 0;
            margin: 0;
            text-decoration: none;
            width: auto;
            box-sizing: unset;
            float: none;

            @media only screen and (max-width: 768px) {
                margin: 30px 0;
            }

            .a {
                display: block;
            }

            &:hover {
                .cmp-newsArticles-arrow {
                    &::before {
                        right: -10px;
                    }

                    &::after {
                        width: 29px;
                    }
                }
            }

            .cmp-newsArticles__date {
                height: auto;
                padding: 0;
                margin: 0 0 12px 0;
                font-family: $font-universe-roman;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.51px;
                color: $color-separator-dark;
                text-transform: uppercase;
            }

            .cmp-newsArticles__image {
                max-width: 100%;
                margin-bottom: 10px;
                padding: 0;

                @media (min-width: 769px) and (max-width: 1200px) {
                    height: inherit;
                }
            }

            .cmp-newsArticles__headline {
                margin: 0 0 0 1px;
                font-family: $font-universe-roman-bold;
                font-size: 20px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.4;
                letter-spacing: 0.2px;
                color: $color-foreground-header;
                padding: 0;

                @media (max-width: 769px) {
                    height: auto;
                    margin: 10px 0 5px 2px;
                    font-size: 18px;
                    line-height: 1.48;
                    letter-spacing: 0.18px;
                }
            }

            .cmp-newsArticles__text {
                height: auto;
                margin: 15px 0 0 0;
                padding: 0;
                font-family: $font-universe-roman;
                font-size: $font-size;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.63;
                letter-spacing: -0.1px;
                color: $color-separator-dark;
                word-wrap: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;

                @media (max-width: 769px) {
                    height: auto;
                    margin: 15px 0 0;
                }

                p {
                    padding: 0;
                    margin: 0;
                }
            }

            .cmp-newsArticles-icon-wrapper {
                position: relative;
                margin: 30px 0 70px;
                top: 0;
                clear: both;
                @media (max-width: 769px) {
                    margin: 10px 0 60px;
                }
            }

            .cmp-newsArticles-icon {
                position: absolute;
                cursor: pointer;
            }

            .cmp-newsArticles-arrow {
                display: inline-block;
                position: relative;
                width: 19px;
                height: 8px;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-style: solid;
                    border-color: $color-primary-button;
                    border-width: 2px 2px 0 0;
                    right: 0;
                    transform: rotate(45deg);
                    transition: all .2s ease-in;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    border-style: solid;
                    border-color: $color-primary-button;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 19px;
                    height: 0;
                    border-width: 2px 0 0;
                    transition: all .2s ease-in;
                }
            }
        }
    }
    .section.button{
        margin-top: 20px;
    }
}