a#CybotCookiebotDialogDetailBodyContentCookieContainerPreference {
    display: none;
}
a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
    background-color: #fff !important;
    border: 1px solid #D3D3D3 !important;
    color: #E20613 !important;
    padding: 7px !important;
    border-radius: 5px;
}
a:hover#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
    color: #E20613 !important;
    padding: 7px !important;
    border-radius: 5px;
}
a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
    padding: 7px !important;
    border-radius: 5px;
}
#CybotCookiebotDialog {
    border: 18px solid #fff !important;
    max-width: 730px !important;
}