//== Container main content style, used on page template

main.container {
  padding: 0.5em 1em;
  margin-top: 140px;

  .cmp-container {
    @media (min-width: $mobile-dimension) {
      max-width: $max-width-page;
      margin: 0 auto;
    }
  }
}
