.headline {
  @include cmpMarginTop();
  .cmp-headline__headline {
    font-family: $font-universe-roman-bold;
    line-height: 1.4;
    letter-spacing: -.17px;
    text-align: center;
    color: $color-foreground-header;
    padding-top: 30px;
    margin: 0 auto 30px auto;
    max-width: 764px;
    font-size: 40px;
  }
  .cmp-headline__text {
    color: $color-separator-dark;
    font-family: $font-universe-roman;
    font-size: 16px;
    letter-spacing: -.1px;
    line-height: 1.63;
    color: $color-dark-grey;
    text-align: center;
    margin: 30px auto 30px auto;
    max-width: 764px;
  }
}

@media only screen and (max-width: 768px) {
    .headline {
        .cmp-headline__headline {
            font-size: 24px;
        }
        .cmp-headline__headline,.cmp-headline__text{
          max-width: 100%;
          padding: 0 1em;
        }
    }
}