.teaser-initial {
  @include cmpMarginTop();
  .cmp-container-headline {
    font-family: $font-universe-roman-bold;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.17px;
    text-align: center;
    color: $color-foreground;
    padding-top: 0;
    margin: 0 auto 30px;
    max-width: 720px;
    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
  .cmp-container-subtitle {
    font-family: $font-universe-roman;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    letter-spacing: -0.1px;
    text-align: center;
    color: $color-separator-dark;
    max-width: 720px;
    padding-top: 5px;
    margin: 0 auto;
  }
  .double-text-image{
    margin-top: 70px;
  }
  .third-text-image {
    margin-top: 70px;
    .cmp-image__left img {
      margin-left: -10px;
    }

    .cmp-image__right img {
      margin-left: 10px;
    }
  }
}