.cmp-set-password {
  max-width: 985px;
  margin: 0 auto 50px auto;

  &__headline {
    color: $color-headline-red;

    @media screen and (max-width: 767px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__sub-headline {
    margin: 30px auto 0 auto;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__line {
    background-color: $color-divider-line;
    height: 1px;
    margin: 30px auto;
    width: 90%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__description {
    margin: 40px auto;
    text-align: left;
  }

  &__form-container {
    max-width: 630px;
    margin: 0 auto;
  }
}