.cmp-news-banner {
  margin: 0 100px 70px 100px;
  display: grid;
  gap: 50px;
  grid-template-areas: "content img";
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;

  @media screen and (min-width: 1460px) {
    padding: 0;
    margin: 0 auto 70px auto;
    max-width: 77pc;
  }

  @include large {
    margin: 0 32px 70px 32px;
    gap: 25px;
  }

  @include small {
    margin: 0 20px 50px 20px;
    display: block;
  }

  &__title {
    text-decoration: none;

    h2 {
      font-size: 50px; // fallback
      font-size: clamp(30px, 4vw, 50px);
      line-height: 1.28;
      hyphens: auto;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      display: -moz-box;
      -moz-line-clamp: 4;
      -moz-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @include large {
        font-size: 40px; // fallback
        font-size: clamp(30px, 4vw, 40px);
      }

      @include small {
        margin-bottom: 15px;
      }
    }

    &:hover {
      .cmp-news-banner__arrow {
        &:before {
          right: -4px;
        }

        &::after {
          width: 32px;
        }
      }
    }
  }

  &__content {
    width: 100%;
    grid-area: content;
    box-sizing: border-box;
  }

  &__img-wrap {
    height: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 75%;

    @include small {
      margin-bottom: 12px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: $border-radius-top-l-bottom-r;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__subtitle {
    font-family: $font-universe-roman;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.51px;
    color: $color-separator-dark;
    text-transform: uppercase;
    margin: 50px 0 20px 0; // fallback
    margin-top: clamp(0.063rem, unquote("(-8.3065rem + 13.0645vw)"), 3.125rem);

    @include large {
      margin: 20px 0 20px 0;
    }

    @include small {
      margin: 0 0 30px 0;
    }
  }

  &__arrow {
    display: inline-block;
    width: 28px;
    height: 10px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-style: solid;
      border-color: $color-primary-button;
      border-width: 2px 2px 0 0;
      right: 0;
      transform: rotate(45deg);
      transition: all 0.2s ease-in;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      border-style: solid;
      border-color: $color-primary-button;
      top: 49%;
      transform: translateY(-50%);
      width: 28px;
      height: 0;
      border-width: 2px 0 0;
      transition: all 0.2s ease-in;
    }
  }
}