<sly data-sly-use.container="com.adobe.cq.wcm.core.components.models.LayoutContainer"
	data-sly-use.teaserInitial="com.techem.core.models.TeaserInitial">
	<h3 class="cmp-container-headline">${teaserInitial.containerHeadline @ context='html'}</h3>
	<div class="cmp-container-subtitle">${teaserInitial.containerSubtitle}</div>
    <sly data-sly-test.responsive="${container.layout == 'RESPONSIVE_GRID'}"
         data-sly-use.responsiveGridTemplate="responsiveGrid.html"
         data-sly-call="${responsiveGridTemplate.responsiveGrid @ container=container}"></sly>
    <div>
	<div data-sly-resource="${'double-text-image' @ decorationTagName='div', cssClassName='double-text-image-container', resourceType='techem/components/double-text-image' }"></div>
	<div data-sly-test.thirdComponent="${properties.thirdComponent}" data-sly-resource="${'text-image3' @ decorationTagName='div', cssClassName='third-text-image', resourceType='techem/components/text-image' }"></div>
	</div>
</sly>