<sly data-sly-use.doubleButton="com.techem.core.models.DoubleButton"/>

<div data-sly-test="${(wcmmode.edit || wcmmode.preview)}" class="cq-placeholder">
    Configure ${component.properties.jcr:title}
</div>

<div class="cmp-double-button">
    <button data-sly-test="${doubleButton.showSecondaryButton && doubleButton.secondaryButtonLabel}"
            data-sly-element="${doubleButton.secondaryLink ? 'a' : 'button'}"
            class="cmp-button button-secondary"
            href="${doubleButton.secondaryLink}"
            aria-label="${doubleButton.accessibilityLabel}"
            target="${doubleButton.openNewTabSecondary ? '_blank' : '_self'}">
        <span data-sly-test="${doubleButton.secondaryButtonLabel}" class="cmp-button__text">${doubleButton.secondaryButtonLabel}</span>
    </button>
    <button data-sly-test="${doubleButton.primaryButtonLabel}" data-sly-element="${doubleButton.primaryLink ? 'a' : 'button'}"
            class="cmp-button button-primary"
            href="${doubleButton.primaryLink}"
            aria-label="${doubleButton.accessibilityLabel}"
            target="${doubleButton.openNewTabPrimary ? '_blank' : '_self'}">
        <span data-sly-test="${doubleButton.primaryButtonLabel}" class="cmp-button__text">${doubleButton.primaryButtonLabel}</span>
    </button>
</div>