.cmp-container {
  .cmp-tile-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .service-item:first-child {
          .cmp-tile {
            border-radius: 40px 0 0 0;
          }
        }
        .service-item:nth-last-child(2) {
          .cmp-tile {
            border-radius: 0 0 40px 0;
          }
        }

    .cmp-tile {
      height: 270px;
      width: 260px;
      background-color: $color-grey;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 20px;
      position: relative;

      &:hover {
        cursor: pointer;
        display: inline-block;
        background-color: $color-background;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);

        .cmp-tile-icons {
          display: none;
        }

        .cmp-tile-subtitle {
          display: inline;
          font-family: $font-universe-roman;
          padding: 10px 0 0 24px;
          position: absolute;
          color: #4C4C4C;
          font-size: 16px;
          max-width: 194px;
        }
      }
      .cmp-tile-category {
        font-family: $font-universe-roman-bold;
        font-size: 16px;
        padding: 18px 24px 0px 24px;
        text-align: left;
        color: #4C4C4C;
      }

      .cmp-tile-title {
        color: $color-foreground-header;
        font-family: $font-universe-roman-bold;
        font-size: 20px;
        letter-spacing: 0.2px;
        line-height: 24px;
        text-align: left;
        padding: 0 24px 0px 24px;
      }

      .cmp-tile-subtitle {
        display: none;
      }

      .cmp-tile-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .cmp-tile-left-icon {
          padding: 0px 0px 24px 24px;
          max-width: 64px;
        }
        .cmp-tile-right-icon {
          padding: 0px 24px 24px 0px;
          max-width: 64px;
        }
      }
    }
  }
}
