.cmp-container {
  .cmp-tile-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .cmp-tile:first-child {
      border-radius: 40px 0 0 0;
    }
    .cmp-tile:last-child {
      border-radius: 0 0 40px 0;
    }

    .cmp-tile {
      height: 270px;
      width: 260px;
      background-color: $color-grey;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 20px;

      &:hover {
        cursor: pointer;
        display: inline-block;
        background-color: $color-background;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);

        .cmp-tile-icons {
          display: none;
        }

        .cmp-tile-subtitle {
          display: inline;
          font-family: $font-universe-roman;
          padding: 18px 0px 0px 24px;
        }
      }

      .cmp-tile-title {
        color: $color-foreground-header;
        font-family: $font-universe-roman-bold;
        font-size: 20px;
        letter-spacing: 0.2px;
        line-height: 24px;
        text-align: left;
        padding: 18px 24px 0px 24px;
      }

      .cmp-tile-subtitle {
        display: none;
      }

      .cmp-tile-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .cmp-tile-left-icon {
          padding: 0px 0px 24px 24px;
        }
        .cmp-tile-right-icon {
          padding: 0px 24px 24px 0px;
        }
      }
    }
  }
}
