<div data-sly-use.container="com.adobe.cq.wcm.core.components.models.LayoutContainer"
     data-sly-use.newshubListContainer="com.techem.core.models.NewshubListContainer">

    <div data-sly-test="${(wcmmode.edit || wcmmode.preview)}" class="cq-placeholder">
        Configure ${component.properties.jcr:title}
    </div>

    <div class="cmp-newshub-list" data-component-name="newshub-list">
        <h2 class="cmp-newshub-list__headline" data-sly-test="${newshubListContainer.containerHeadline}">${newshubListContainer.containerHeadline @ context='html'}</h2>

        <div data-sly-test="${newshubListContainer.insertionType}">
            <sly data-sly-test.newsArticles="${newshubListContainer.newsArticles || newshubListContainer.insertionType == 'automatically' ? newshubListContainer.newsArticles : newshubListContainer.articleListManually}"/>
            <div class="cmp-newshub-list__container" data-sly-list.articles="${newsArticles}">
                <sly data-sly-use.template="newshub-list-template.html" data-sly-call="${template.news_textStage @ stageText=articles}">
                </sly>
            </div>
        </div>

        <div class="cmp-newshub-list__buttons">
            <a data-sly-test="${newshubListContainer.buttonLabel}"
               class="cmp-button button-primary"
               href="${newshubListContainer.buttonLink}" target="_blank">
                ${newshubListContainer.buttonLabel}
            </a>
        </div>
    </div>
</div>