.list-container{
  .cmp-container-headline{
    font-family: Univers65;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: -0.17px;
    text-align: center;
    color: #222222;
    padding-top: 30px;
    margin: 0 0 30px 0;
  }
  }