.list-container{
  @include cmpMarginTop();
  .cmp-container-headline{
    font-family: $font-universe-roman-bold;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.17px;
    text-align: center;
    color: $color-foreground-header;
    padding-top: 100px;
    margin: 0 auto 30px auto;
    max-width: 764px;
    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
}