# Include customer defined variables
Include conf.d/variables/custom.vars

<VirtualHost *:80>
	ServerName	"publish"
	# Put names of which domains are used for your published site/content here
	ServerAlias	 "*"
	# Use a document root that matches the one in conf.dispatcher.d/default.farm
	DocumentRoot "${DOCROOT}"
	# Add header breadcrumbs for help in troubleshooting
	<IfModule mod_headers.c>
		Header add X-Vhost "publish"
		Header add Referrer-Policy "same-origin"
		Header add Content-Security-Policy "default-src ${ALLOWED_DEFAULT_SRC}; script-src ${ALLOWED_SCRIPT_SRC}; style-src ${ALLOWED_STYLE_SRC}; font-src ${ALLOWED_FONTS_SRC}; img-src ${ALLOWED_IMG_SRC}; frame-src ${ALLOWED_FRAME_SRC}; manifest-src ${ALLOWED_MANIFEST_SRC}; connect-src ${ALLOWED_CONNECT_SRC}; media-src ${ALLOWED_MEDIA_SRC}; child-src ${ALLOWED_CHILD_SRC}"
		Header add Content-Security-Policy-Report-Only "default-src ${ALLOWED_DEFAULT_SRC}; script-src ${ALLOWED_SCRIPT_SRC}; style-src ${ALLOWED_STYLE_SRC}; font-src ${ALLOWED_FONTS_SRC}; img-src ${ALLOWED_IMG_SRC}; frame-src ${ALLOWED_FRAME_SRC}; manifest-src ${ALLOWED_MANIFEST_SRC}; connect-src ${ALLOWED_CONNECT_SRC}; media-src ${ALLOWED_MEDIA_SRC}; child-src ${ALLOWED_CHILD_SRC}; report-uri https://4e57f0243286eb0ed979a1aef3232f6d.report-uri.com/r/d/csp/reportOnly"
	</IfModule>
	<Directory />
		<IfModule disp_apache2.c>
			# Some items cache with the wrong mime type
			# Use this option to use the name to auto-detect mime types when cached improperly
			ModMimeUsePathInfo On
			# Use this option to avoid cache poisioning
			# Sling will return /content/image.jpg as well as /content/image.jpg/ but apache can't search /content/image.jpg/ as a file
			# Apache will treat that like a directory.  This assures the last slash is never stored in cache
			DirectorySlash Off
			# Enable the dispatcher file handler for apache to fetch files from AEM
			SetHandler dispatcher-handler
		</IfModule>
		Options FollowSymLinks
		AllowOverride None
		# Insert filter
		SetOutputFilter DEFLATE
		# Don't compress images
		SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
		# Make sure proxies don't deliver the wrong content
		# Header append Vary User-Agent env=!dont-vary
		# Prevent clickjacking
		Header always append X-Frame-Options SAMEORIGIN
	</Directory>
	<Directory "${DOCROOT}">
		AllowOverride None
		Require all granted
	</Directory>
	<IfModule disp_apache2.c>
		# Enabled to allow rewrites to take affect and not be ignored by the dispatcher module
		DispatcherUseProcessedURL	On
		# Default setting to allow all errors to come from the aem instance
		DispatcherPassError		0
	</IfModule>
	<IfModule mod_rewrite.c>
		RewriteEngine	on
		Include conf.d/rewrites/rewrite.rules

		# Rewrite index page internally, pass through (PT)
		RewriteRule "^(/?)$" "/index.html" [PT]

	</IfModule>
</VirtualHost>
