<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='granite.jquery'}"/>
<div class="friendly-captcha-container">
    <div data-component-name="friendly-captcha"
         data-sly-use.FriendlyCaptcha="com.techem.core.models.FriendlyCaptcha"
         class="cmp-friendly-captcha ${wcmmode.edit ? 'author-mode': ''}" id="friendly-captcha">

        <p data-sly-test="${!wcmmode.disabled}">Friendly Captcha</p>
        <div class="friendly-captcha frc-captcha-margin" data-sitekey="${FriendlyCaptcha.siteKey}" data-sly-attribute.data-fc-lang="${FriendlyCaptcha.fcLanguage}"></div>
    </div>
    <div class="cmp-alert cmp-alert__invalid alert-warning error-friendly-cmp" hidden>Something went wrong during validation. Please try again later.</div>
</div>
