<div data-sly-use.container="com.adobe.cq.wcm.core.components.models.LayoutContainer"
     data-component-name="show-hide-hours"
     data-start-time="${properties.startTime}" data-end-time="${properties.endTime}"
     class="cmp-show-hide-hours ${wcmmode.edit ? 'author-mode': 'hidden'}">

    <p data-sly-test="${!wcmmode.disabled}">
        Show Hide Between Hours: <strong>${properties.startTime} - ${properties.endTime}</strong>
    </p>

    <sly data-sly-test.responsive="${container.layout == 'RESPONSIVE_GRID'}"
         data-sly-use.responsiveGridTemplate="responsiveGrid.html"
         data-sly-call="${responsiveGridTemplate.responsiveGrid @ container=container}"></sly>
    <sly data-sly-test.simple="${!responsive}"
         data-sly-use.simpleTemplate="simple.html"
         data-sly-call="${simpleTemplate.simple @ container=container}"></sly>
</div>
