<style>
.leftImage {
	width:50%;
	display: inline-block;
}
.rightImage{
	width: 50%;
	display: inline-block;
	position: absolute;
}
.leftText {
	width: 48%;
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
}
.rightText {
	width: 47%;
	display: inline-block;
	position: absolute;
	margin-left: 1%;
	margin-right: 1%;
}
</style>
<div data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"
     data-sly-use.textimage="com.techem.core.models.TextImage"
     data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.imageTemplate="image.html"
     data-sly-use.pretitleTemplate="pretitle.html"
     data-sly-use.titleTemplate="title.html"
     data-sly-use.descriptionTemplate="description.html"
     data-sly-use.locationTemplate="location.html"
     data-sly-use.actionsTemplate="actions.html"
     data-sly-test.hasContent="${teaser.imageResource || teaser.pretitle || teaser.title || teaser.description || teaser.actions.size > 0}"
     id="${component.id}"
     class="cmp-teaser${!wcmmode.disabled && teaser.imageResource ? ' cq-dd-image' : ''}"
     data-cmp-data-layer="${teaser.data.json}">

    <div data-sly-test="${textimage.textPosition=='right'}">

        <div class="leftImage" data-sly-call="${imageTemplate.image @ teaser=teaser}"></div>

        <div class="cmp-teaser__content rightText">
            <sly data-sly-call="${pretitleTemplate.pretitle @ teaser=teaser}"></sly>
            <sly data-sly-call="${titleTemplate.title @ teaser=teaser}"></sly>
            <sly data-sly-call="${descriptionTemplate.description @ teaser=teaser}"></sly>
            <sly data-sly-call="${actionsTemplate.actions @ teaser=teaser}"></sly>
            <sly data-sly-call="${locationTemplate.textPosition @ textimage=textimage}"></sly>
        </div>
    </div>

    <div data-sly-test="${textimage.textPosition=='left'}">
        <div class="cmp-teaser__content leftText">
            <sly data-sly-call="${pretitleTemplate.pretitle @ teaser=teaser}"></sly>
            <sly data-sly-call="${titleTemplate.title @ teaser=teaser}"></sly>
            <sly data-sly-call="${descriptionTemplate.description @ teaser=teaser}"></sly>
            <sly data-sly-call="${actionsTemplate.actions @ teaser=teaser}"></sly>
            <sly data-sly-call="${locationTemplate.textPosition @ textimage=textimage}"></sly>
        </div>
        <span class="rightImage">
        <sly data-sly-call="${imageTemplate.image @ teaser=teaser}"></sly>
		</span>
    </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-teaser'}"></sly>
