@media only screen and (max-width: 1024px) {
    .stage-container {
        &.container {
            margin-top: 80px;
        }
    }
}

.stage-container {
    margin-bottom: 70px;
    padding: 0;
    @media only screen and (max-width:1024px) {
        margin-bottom: 30px;
    }

    .cmp-breadcrumb {
        &.cq-Editable-dom {
            min-height: 50px;
            width: 100%;
        }
    }

    .text-stage, .text-stage-content {
        position: relative;
        border-bottom: solid 6px $color-primary-button;
        .cmp-text-stage{
            max-width: 77pc;
            margin: 0 auto;
            &__date-wrapper {
                padding: 0;
            }
        }

        &.cq-Editable-dom {
            min-height: 50px;
            width: 100%;
        }
        @media only screen and (max-width:1024px) {
            .cmp-text-stage{
                &__text, &__date-wrapper {
                    padding: 0 1em;
                }
                &__headline {
                    padding: 0 16px;
                }
    
            }
        }
    }

    .cmp-container {


        .cmp-text-stage {
            &__date-wrapper {
                .cmp-text-stage__date {
                    height: 14px;
                    font-family: $font-universe-roman;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.51px;
                    color: $color-separator-dark;
                    text-transform: uppercase;
                }
            }

            &__headline {
                font-family: $font-universe-roman-bold;
                font-size: 50px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.28;
                letter-spacing: -0.33px;
                color: $color-foreground-header;
                padding: 0;

                @media only screen and (max-width:1024px) {
                    font-size: 26px;
                    width: 100% !important;
                    padding: 0 16px;
                }
            }

            &__text-wrapper {
                .cmp-text-stage__text {
                    width: 780px;
                    float: none;
                    margin: 0 auto 70px auto;
                    font-family: $font-universe-roman;
                    font-size: $font-size;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.75;
                    letter-spacing: -0.1px;
                    color: $color-separator-dark;

                    @media only screen and (max-width:1024px) {
                        margin: 0 0 30px 0;
                        width: 100%;
                    }

                    p {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}

body.news-page {
    .stage-container .cmp-container {
        .cmp-text-stage {

            &__text {
                padding: 0;

                &-wrapper {
                    box-sizing: border-box;

                    @include small {
                        padding: 0 16px;
                    }
                }

                ul {
                    padding-left: 18px;
                }

                ul, p {
                    @include large {
                        box-sizing: border-box;
                        margin: auto;
                        max-width: 585px;
                    }
                }
            }

            &__date-wrapper {

                @include large {
                    padding: 0 32px;
                }

                @include small {
                    padding: 0 16px;
                }
            }

            &__headline {
                max-width: 990px;
                margin: 0 auto 30px auto;
                
                @include large {
                    font-size: 40px;
                    padding: 0 32px;
                }

                @include small {
                    font-size: 26px;
                    padding: 0 16px;
                }
            }
        }
    }
}