
@media only screen and (max-width: 1024px) {
    .stage-container {
        &.container {
            margin-top: 80px;
        }
    }
}

.stage-container {
   border-bottom: 6px solid red;
   margin-bottom: 70px;

    .breadcrumb {
       &.cq-Editable-dom {
             min-height: 50px;
             width: 100%;
        }
    }

    .text-stage {
       &.cq-Editable-dom {
            min-height: 50px;
            width: 100%;
       }
    }

    .cmp-container {
        max-width: 77pc;
        margin: 0 auto;
        padding: 0 1em;

        .cmp-text-stage {
            &__date-wrapper {
                .cmp-text-stage__date {
                      height: 14px;
                      font-family: $font-universe-roman;
                      font-size: 12px;
                      font-weight: normal;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: normal;
                      letter-spacing: 0.51px;
                      color: $color-separator-dark;
                }
            }

            &__headline {
                  font-family: $font-universe-roman-bold;
                  font-size: 50px;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.28;
                  letter-spacing: -0.33px;
                  color: $color-foreground-header;

                   @media only screen and (max-width:1024px) {
                        font-size: 26px;
                        width: 100%!important;
                   }
            }

            &__text-wrapper {
                .cmp-text-stage__text {
                      width: 780px;
                      float: none;
                      margin: 0 auto 70px auto;
                      font-family: $font-universe-roman;
                      font-size: $font-size;
                      font-weight: normal;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.75;
                      letter-spacing: -0.1px;
                      color: $color-separator-dark;

                      @media only screen and (max-width:1024px) {
                           margin: 0 0 30px 0;
                           width: 100%;
                      }

                      p {
                        padding: 0;
                        margin: 0;
                      }
                }
            }
        }
    }
}