<div data-sly-use.container="com.adobe.cq.wcm.core.components.models.LayoutContainer"
    data-sly-use.generalTabsContainer="com.techem.core.models.GeneralTabsContainer"
    class="bg-${generalContainer.background}">
	<h2 class="cmp-container-headline">${generalTabsContainer.headline}</h2>
    <div data-sly-test.subtitle="${generalTabsContainer.subtitle}" class="cmp-container-text">${generalTabsContainer.subtitle}</div>
   <sly data-sly-test.responsive="${container.layout == 'RESPONSIVE_GRID'}"
         data-sly-use.responsiveGridTemplate="responsiveGrid.html"
         data-sly-call="${responsiveGridTemplate.responsiveGrid @ container=container}"></sly>
    <sly data-sly-test.simple="${!responsive}"
         data-sly-use.simpleTemplate="simple.html"
         data-sly-call="${simpleTemplate.simple @ container=container}"></sly>
</div>