.carousel-reference-slider{
    margin: 80px 0;
    background-color: $color-grey;
    padding: 100px 0 160px 0;
    .reference-slider-item{
        padding: 0;
    }
    .cmp-carousel-reference-headline{
        color: #222222;
        font-family: $font-universe-roman-bold;
        font-size: 46px;
        letter-spacing: -0.2px;
        line-height: 58px;
        text-align: center;
        margin: 0 0 78px 0;
        font-weight: 300;
    }
    .cmp-carousel {
        position: relative;
        .cmp-carousel__action--previous,.cmp-carousel__action--next, .cmp-carousel__action--pause, .cmp-carousel__action--play{
            display: none;
        }
        .cmp-carousel__action--next{
            display: block;
            position: absolute;
            opacity: 0;
            right: calc((100vw - 77pc)/2);
            top: 0;
            color: $color-background;
            font-size: 100px;
            border: 0;
            background: 0;
            outline: none;
            height: 100%;
            width: 25%;
            text-align: right;
            text-shadow: 0 3px 20px #0000001a;
            cursor: pointer;
            z-index: 1;
            &:hover{
                cursor: url(#{$iconsPath}/navigation-chevron-right-white.svg), auto;
            }
        }
        .cmp-carousel__action--previous{
            display: block;
            position: absolute;
            opacity: 0;
            left: calc((100vw - 77pc)/2);
            top: 0;
            color: $color-background;
            font-size: 100px;
            border: 0;
            background: 0;
            outline: none;
            height: 100%;
            width: 25%;
            text-align: left;
            text-shadow: 0 3px 20px #0000001a;
            cursor: pointer;
            &:hover{
                cursor: url(#{$iconsPath}/navigation-chevron-left-white.svg), auto;
            }
        }
        .cmp-carousel__indicators {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -40px;
        }
        .cmp-carousel__indicator {
            border-radius: 0;
            font-size: 0;
            width: 40px;
            height: 4px;
            background: #B2B2B1;
            background-size: 200% 100%;
            background-position: right bottom;
        }
        .cmp-carousel__indicator--active {
            background: linear-gradient(to right, $color-primary-button 50%, #B2B2B1 50%);
            background-size: 200% 100%;
            background-position: left bottom;
            transition: all 3.5s ease-out;
        }
    }
}
@media only screen and (max-width: 720px) {
    .carousel-reference-slider{
        padding: 50px 0 100px 0;
        .cmp-carousel {
            .cmp-carousel__action--next{
                display: none;
            }
            .cmp-carousel__action--previous{
                display: none;
            }
        }
    }
}