.new{
  margin: 0;
}
.cmp-list-parsys {
    width: 100%;
}

.cmp-list-parsys2{
    width: 100%;
}
.cmp-container {
  .cmp-tile-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 0 100px 0;

    .service-item:first-child {
          .cmp-tile {
            border-radius: $border-radius-top-l;
          }
        }
        .service-item:last-child {
          .cmp-tile {
            border-radius: $border-radius-bottom-r;
          }
        }

    .cmp-tile {
      height: 270px;
      width: 260px;
      background-color: $color-grey;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 20px;
      position: relative;

      &:hover{
        cursor: pointer;
        display: inline-block;
        background-color: $color-background;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);

        .cmp-tile-left-icon {
          display: none;
        }

        a{
          display: block;
          margin-left: auto;
        }
        .cmp-tile-right-icon {
          padding: 7px 24px 0px 0px!important;
        }

        .cmp-tile-subtitle {
          display: block;
          font-family: $font-universe-roman;
          padding: 10px 0 0 24px;
          color: $color-separator-dark;
          font-size: 16px;
          max-width: 194px;
          height: 123px;
        }
      }
      .cmp-tile-category {
        font-family: $font-universe-roman-bold;
        font-size: 16px;
        padding: 18px 24px 0px 24px;
        text-align: left;
        color: $color-separator-dark;
      }

      a {
        text-decoration: none;
        min-height: 60%;
      }

      .cmp-tile-title {
        color: $color-foreground-header;
        font-family: $font-universe-roman-bold;
        font-size: 20px;
        letter-spacing: 0.2px;
        line-height: 24px;
        text-align: left;
        padding: 22px 22px 0px 22px;
      }

      .cmp-tile-subtitle {
        display: none;
      }

      .cmp-tile-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 84px;
        .cmp-tile-left-icon {
          padding: 0px 0px 24px 24px;
          max-width: 64px;
          margin-right: auto;
        }
        .cmp-tile-right-icon {
          padding: 0px 24px 0px 0px;
          max-width: 64px;
        }
      }
    }
  }
  .cmp-container-headline{
    font-family: $font-universe-roman-bold;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.17px;
    text-align: center;
    color: $color-foreground;
    padding-top: 70px;
    max-width: 764px;
    margin: 30px auto;
  }
  .cmp-container-text{
    font-family: $font-universe-roman;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    letter-spacing: -0.1px;
    color: $color-separator-dark;
    text-align: center;
    max-width: 764px;
    margin: 30px auto 45px auto;
  }

  &.cmp-container-full {
    // override aemGrid padding
    margin: 0 -1rem;
    overflow: hidden;
  }
}
.bg-gray > .cmp-container .cmp-tile-color {
     background-color: $color-background;
     &:hover{
         box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
     }
 }

 .bg-white > .cmp-container .cmp-tile-color {
      background-color: $color-grey;
      &:hover{
          background-color: $color-background;
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
      }
  }

  @media only screen and (max-width: 769px) {
    .cmp-container {
      .cmp-tile-list {
        width: auto;
        .cmp-tile {
          &:hover{
            cursor: pointer;
            display: flex;
            box-shadow: none;
            background-color: $color-grey;

            .cmp-tile-left-icon {
              display: block;
            }

            a{
              display: inline;
              margin-left: 0;
            }
            .cmp-tile-right-icon {
              padding: 0 24px 0px 0px!important;
            }

            .cmp-tile-subtitle {
              display: none;
            }
          }
        }
      }
    }
    .bg-gray .cmp-container .cmp-tile-color {
      &:hover{
          box-shadow: none;
          background-color: $color-background;
      }
    }
  
    .bg-white .cmp-container .cmp-tile-color {
        background-color: $color-grey;
        &:hover{
            background-color: $color-background;
            box-shadow: none;
        }
    }
  }