<div data-sly-use.headlineModel="com.techem.core.models.Headline"
     data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     class="headline">
    <h2 class="cmp-headline__headline" data-sly-element="${headlineModel.types}">
        <sly data-sly-test.isH2="${headlineModel.types == 'h2'}">${headlineModel.headlineH2}</sly>
        <sly data-sly-test.isH3="${headlineModel.types == 'h3'}">${headlineModel.headlineH3}</sly>
        <sly data-sly-test.isH4="${headlineModel.types == 'h4'}">${headlineModel.headlineH4}</sly>
    </h2>
    <div class="cmp-headline__text"data-sly-test.isText="${headlineModel.text}">${headlineModel.text}</div>
</div>
