.breadcrumb {
    max-width: 77pc;
    margin: 172px auto 0;
}
.cmp-breadcrumb__list {
    padding: 0;
}
.cmp-breadcrumb__item {
    vertical-align: middle;
    font-family: $font-universe-roman;
    a{
        font-size: 14px;
        letter-spacing: -0.1px;
        color: $color-inactive-tab;
        text-decoration: none;
        margin-right: 24px;
        padding-bottom: 4px;
        border-bottom: 1px solid transparent;
        position: relative;
        &:after{
            content: '';
            background-image: url(#{$iconsPath}/navigation-chevron-bottom.svg?v=3);
            background-size: 8px 4px;
            position: absolute;
            height: 4px;
            width: 8px;
            right: -16px;
            top: 9px;
            transform: rotate(-90deg);
            bottom: 0;
        }
        &:hover{
            color: $color-primary-button;
            border-bottom: 1px solid $color-primary-button;
            &:after{
                color: $color-inactive-tab;
            }
        }
    }
}
.cmp-breadcrumb__item--active {
    color: $color-foreground-header;
    font-size: 14px;
    span{
        padding-bottom: 4px;
        border-bottom: 1px solid transparent;
    }
}
.cmp-breadcrumb__item-link {}

@media only screen and (max-width:1024px){
    .breadcrumb {
        display: none;
    }
}