.cmp-form-text {
  margin-bottom: 30px;

  label {
    display: block;
  }
}
.cmp-form-text__help-block {}
.cmp-form-text__textarea {
  border: 2px solid $color-separator;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.1);
    border-color: transparent;
  }
}
.cmp-form-text__text {
  border: 2px solid $color-separator;
  padding: 8px 20px;
  color: $color-dark-grey;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 3px 15px 1px rgba(0, 0, 0, 0.1);
    border-color: transparent;
  }

}
.cmp-form-text__password {
    letter-spacing: 0.125em;
}