.cmp-form-button {
  padding: 14px 30px;
  display: inline-block;
  font-family: $font-universe-roman-bold;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  width: 312px;
  background-color: $color-primary-button;
  color: $color-background;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &:hover{
    background-color: $color-primary-button-hover;
  }

  &:disabled {
    background-color: $color-button-bg-disabled;
    color: $color-inactive-tab;
    cursor: not-allowed;
  }
}