<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='granite.jquery'}"/>
<div data-component-name="set-password"
     data-sly-use.setPasswordModel="com.techem.core.models.SetPassword"
     class="cmp-set-password ${wcmmode.edit ? 'author-mode': ''}">
  <h2 class="cmp-set-password__headline text-center">${setPasswordModel.headline}</h2>
  <p class="cmp-set-password__sub-headline text-center">${setPasswordModel.subHeading}</p>
  <div class="cmp-set-password__line" data-sly-test="${setPasswordModel.headline || setPasswordModel.subHeading}"></div>

  <div class="cmp-form-container cmp-set-password__form-container mt--none">
    <div class="cmp-set-password__description text-center" data-sly-test="${setPasswordModel.description}">
      ${setPasswordModel.description @ context='html'}
    </div>

    <div id="cmp-set-password__status_success" class="cmp-alert text-center alert-success" hidden>${setPasswordModel.successMsg}</div>

    <div id="cmp-set-password__status_error_link" class="cmp-alert cmp-alert__invalid alert-warning" hidden>${setPasswordModel.invalidError}</div>

    <div id="cmp-set-password__status_error_pattern" class="cmp-alert cmp-alert__pattern alert-warning" hidden>${setPasswordModel.patternMatchError}</div>

    <form id="cmp-set-password__form" class="cmp-form cmp-set-password__form" method="POST" action="${setPasswordModel.endpointURL}?authToken=${request.requestParameterMap['authToken'][0].toString}" hidden>
      <div class="text-input">
        <div class="cmp-form-text">
          <label for="cmp-set-password__pass">${setPasswordModel.passwordInputLabel}</label>
          <input class="cmp-form-text__text cmp-form-text__password" data-cmp-hook-form-text="input" type="password" id="cmp-set-password__pass" name="password" required>
        </div>
      </div>

      <div class="text-input">
        <div class="cmp-form-text">
          <label for="cmp-set-password__confirm">${setPasswordModel.confirmInputLabel}</label>
          <input class="cmp-form-text__text cmp-form-text__password" data-cmp-hook-form-text="input" type="password" id="cmp-set-password__confirm" name="confirm" required>
        </div>
      </div>

      <div class="button mt--xsmall text-center">
        <button type="SUBMIT" id="cmp-set-password__submit" class="cmp-form-button">${setPasswordModel.submitLabel}</button>
      </div>
    </form>
  </div>
  <div id="cmp-set-password__btn-goto-login" class="button mt--xsmall text-center" hidden>
    <a data-sly-test="${setPasswordModel.loginLabel}" href="${setPasswordModel.loginLink}.html" class="cmp-form-button">${setPasswordModel.loginLabel}</a>
  </div>
</div>