<div data-sly-use.container="com.adobe.cq.wcm.core.components.models.LayoutContainer"
	class="bg-${properties.background}">
    <sly data-sly-test.responsive="${container.layout == 'RESPONSIVE_GRID'}"
         data-sly-use.responsiveGridTemplate="responsiveGrid.html"
         data-sly-call="${responsiveGridTemplate.responsiveGrid @ container=container}"></sly>
    <sly data-sly-test.simple="${container.layout == 'SIMPLE' && properties.layout != 'full'}"
         data-sly-use.simpleTemplate="simple.html"
         data-sly-call="${simpleTemplate.simple @ container=container}"></sly>
    <sly data-sly-test.full="${container.layout == 'SIMPLE' && properties.layout == 'full'}"
         data-sly-use.fullTemplate="full.html"
         data-sly-call="${fullTemplate.full @ container=container, background=properties.background}">
    </sly>
</div>