<div data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"
     data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.imageTemplate="image.html"
     data-sly-use.pretitleTemplate="pretitle.html"
     data-sly-use.titleTemplate="title.html"
     data-sly-use.descriptionTemplate="description.html"
     data-sly-use.actionsTemplate="actions.html"
     data-sly-test.hasContent="${teaser.imageResource || teaser.pretitle || teaser.title || teaser.description || teaser.actions.size > 0}"
     id="${component.id}"
     class="cmp-teaser${!wcmmode.disabled && teaser.imageResource ? ' cq-dd-image' : ''}"
     data-cmp-data-layer="${teaser.data.json}">
    <div class="cmp-teaser__content cmp-item-first">
		<div class="item-category">${properties.category}</div>
		<div class="item-title">${properties.productTitle}</div>
    </div>
	<div class="cmp-item-second">
        <div class="item-icon" data-sly-call="${imageTemplate.image @ teaser=teaser}"></div>
        <div class="item-description">${properties.description}</div>
		<a href="${properties.linkURL2}.html">
			<img class="item-arrow" src="${properties.fileReference2}">
		</a>
	</div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-teaser'}"></sly>
