.button{
  text-align: center;
  margin: 20px auto;
}
.cmp-button__text {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
}
.cmp-button__icon {
}
//.cmp-button__icon--myIcon {}

.cmp-button {
  padding: 14px 30px;
  display: inline-block;
  font-family: $font-universe-roman-bold;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-width: 0px;
  border-radius: 30px;
  text-decoration: none;

  &.button-primary {
    background-color: $color-primary-button;
    color: #ffffff;
    &:hover{
      background-color: $color-primary-button-hover;
    }
  }

  &.button-secondary {
    padding: 12px 30px;
    box-sizing: border-box;
    border: 2px solid $border-secondary-button;
    color: $border-secondary-button;
    &:hover{
      background-color: $color-primary-button;
      color: #ffffff;
      border: 2px solid $border-secondary-button;
    }
  }

  &.button-small {
    height: 40px;
    width: 151px;
    padding: 6px 10px;
  }

  &.button-huge {
    height: 54px;
    width: 312px;
  }
}

@media only screen and (max-width: 720px) {
  .button{
    margin: 0 auto;
  }
  .cmp-button {
    &.button-huge {
      width: 93%;
      margin: 20px auto;
    }
  }
  .button-secondary {
    .cmp-button__text {
      letter-spacing: -.2px;
    }
  }
}