<button data-sly-use.button="com.adobe.cq.wcm.core.components.models.Button"
        data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
        data-sly-element="${button.link ? 'a' : 'button'}"
        id="${component.id}"
        class="cmp-button  ${properties.type} ${properties.size}"
        href="${button.link}"
        aria-label="${button.accessibilityLabel}"
        data-cmp-clickable="${button.data ? true : false}"
        data-cmp-data-layer="${button.data.json}">
    <span data-sly-test="${button.text}" class="cmp-button__text">${button.text}</span>
</button>