.image-tile {
  display: flex!important;
  float: none!important;
  padding: 0;
  width: 340px!important;
  position: relative;
  cursor: pointer;
  margin: 30px 38px!important;
  &:first-of-type{
    .cmp-teaser__image
      img{
        border-radius: $border-radius-top-l;
      }
  }
  &:last-of-type{
    .cmp-teaser__image
      img{
        border-radius: $border-radius-bottom-r;
      }
  }
  &:hover{
    .cmp-image-tile-title{
      color: $color-primary-button;
    }
  }
  .cmp-image-tile-title{
    margin: 20px 0 15px;
    font-family: $font-universe-roman-bold;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: $color-foreground-header;
  }
  .cmp-image-tile-body{
    margin: 15px 0 30px;
    padding-bottom: 30px;
    font-family: $font-universe-roman;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    letter-spacing: -0.1px;
    color: $color-separator-dark;
  }
  .cmp-image-tile-arrow{
    border-radius: 0;
    max-width: 30px;
  }
  .cmp-teaser__image
    img{
      max-width: 100%;
      margin-top: 0;
    }
  a{
    position: absolute;
    bottom: 0;
  }
}
@media only screen and (max-width: 769px) {
  .image-tile {
   width: 90%!important;
   margin: 30px auto!important;
  }
}