.general-container{
  .cmp-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cmp-container-headline{
    font-family: Univers65;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: -0.17px;
    text-align: center;
    color: #222222;
    padding-top: 30px;
    margin: 0 0 30px 0;
  }
  .cmp-container-text{
    font-family: Univers55;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    letter-spacing: -0.1px;
    text-align: center;
    margin: 0 0 45px 0;
  }  
}
