.general-container{
  .cmp-general-container-parsys{
    width: 100%;
  }
  .cmp-general-container-parsys2{
      width: 100%;
    }
  .cmp-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 35px;
    max-width: 77pc;
    margin: 0 auto;
    .aem-Grid{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 77pc;
      margin: 0 auto;
    }
  }
  .cmp-container-headline{
    font-family: $font-universe-roman-bold;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.17px;
    text-align: center;
    color: $color-foreground;
    padding-top: 30px;
    max-width: 764px;
    margin: 30px auto;
  }
  .cmp-container-text{
    font-family: $font-universe-roman;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    letter-spacing: -0.1px;
    color: $color-separator-dark;
    text-align: center;
    max-width: 764px;
    margin: 30px auto 45px auto;
  }  
}
