.general-container{
  @include cmpMarginTop();
  .cmp-general-container-parsys{
    width: 100%;
  }
  .cmp-general-container-parsys2{
      width: 100%;
    }
  .cmp-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
    max-width: calc(77pc + 102px);
    margin: 0 auto;
    .aem-Grid{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 77pc;
      margin: 0 auto;
    }
  }
  .cmp-container-headline{
    font-family: $font-universe-roman-bold;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.17px;
    text-align: center;
    color: $color-foreground;
    padding-top: 0;
    max-width: 764px;
    margin: 0 auto 30px;
    @media only screen and (max-width: 768px) {
      font-size: 26px;
      padding: 0 16px;
    }
  }
  .cmp-container-text{
    font-family: $font-universe-roman;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    letter-spacing: -0.1px;
    color: $color-separator-dark;
    text-align: center;
    max-width: 764px;
    margin: 30px auto 45px auto;
    @media only screen and (max-width: 768px) {
      padding: 0 16px;
    }
  }  
}

.bg-gray {
  .general-container{
    .cmp-container{
      padding-bottom: 90px;
      @media only screen and (max-width: 768px) {
        padding-bottom: 35px;
      }
    }
  }
}
.bg-gray{
  .general-container{
    .bg-gray{
      .cmp-container{
        padding-bottom: 0;
      }
      .cmp-container-headline{
        padding-top: 0;
      }
    }
  }
}
.general-container{
  .bg-gray{
    padding: 100px 0;
    @media only screen and (max-width: 768px) {
      padding:50px 0;
    }
  }
}

.experiencefragment{
  .general-container{
    margin-top: 0;
  }
}