.icon-number-tile{
    width: 364px!important;
    float: none!important;
    margin: 0 20px 50px 20px!important;
    .cmp-icon-number-tile-icon {
        .cmp-teaser__image{
            width: 68px;
            height: 68px;
            margin:0 auto;
            border-radius: 100%;
            background-color: $color-primary-button;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .cmp-image{
                width: 32px;
                height: 32px;
            }
            img{
                width:32px;
            }
        }
    }
    .cmp-tile-number{
        width: 68px;
        height: 68px;
        margin:0 auto;
        border-radius: 100%;
        background-color: $color-primary-button;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font-universe-roman-bold;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
    }
    .cmp-icon-number-tile-title,.cmp-icon-number-tile-body{
        text-align: center;
    }
    .cmp-icon-number-tile-title{
        font-family: $font-universe-roman-bold;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.3;
        letter-spacing: 0.2px;
        margin: 25px 0 5px;
        height: 52px;
    }
    .cmp-icon-number-tile-body{
        font-family: $font-universe-roman;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.63;
        letter-spacing: -0.1px;
        color: $color-separator-dark;
    }
}

@media (max-width: $mobile-dimension) {
    .icon-number-tile{
        width: 90%!important;
        margin: 30px auto !important;
    }
}