//== Base
@font-face{
  font-family:"UniversLTW02-45Light";
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-45Light.eot?#iefix");
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-45Light.eot?#iefix") format("eot"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-45Light.woff2") format("woff2"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-45Light.woff") format("woff"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-45Light.ttf") format("truetype");
}
@font-face{
  font-family:"UniversLTW02-45LightOblique";
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-45LightOblique.eot?#iefix");
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-45LightOblique.eot?#iefix") format("eot"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-45LightOblique.woff2") format("woff2"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-45LightOblique.woff") format("woff"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-45LightOblique.ttf") format("truetype");
}
@font-face{
  font-family:"UniversLTW02-55Roman";
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-55Roman.eot?#iefix");
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-55Roman.eot?#iefix") format("eot"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-55Roman.woff2") format("woff2"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-55Roman.woff") format("woff"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-55Roman.ttf") format("truetype");
}
@font-face{
  font-family:"UniversLTW02-55Oblique";
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-55Oblique.eot?#iefix");
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-55Oblique.eot?#iefix") format("eot"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-55Oblique.woff2") format("woff2"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-55Oblique.woff") format("woff"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-55Oblique.ttf") format("truetype");
}
@font-face{
  font-family:"UniversLTW02-65Bold";
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-65Bold.eot?#iefix");
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-65Bold.eot?#iefix") format("eot"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-65Bold.woff2") format("woff2"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-65Bold.woff") format("woff"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-65Bold.ttf") format("truetype");
}
@font-face{
  font-family:"UniversLTW02-65BoldOblique";
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-65BoldOblique.eot?#iefix");
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-65BoldOblique.eot?#iefix") format("eot"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-65BoldOblique.woff2") format("woff2"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-65BoldOblique.woff") format("woff"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-65BoldOblique.ttf") format("truetype");
}
@font-face{
  font-family:"UniversLTW02-67BoldCond";
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-67BoldCond.eot?#iefix");
  src:url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-67BoldCond.eot?#iefix") format("eot"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-67BoldCond.woff2") format("woff2"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-67BoldCond.woff") format("woff"),url("/etc.clientlibs/techem/clientlibs/clientlib-site/resources/fonts/UniversLTW02-67BoldCond.ttf") format("truetype");
}
html,
body {
  margin: 0;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $font-height;
  color: $color-dark-grey;
  background: $color-background;

  @media (prefers-color-scheme: dark) {
    color: $color-foreground;
    background: $color-background;
  }
}
.scroll-hidden{
  overflow: hidden;
}
a {
  color: $color-link;

  @media (prefers-color-scheme: dark) {
    color: $color-link;
  }
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

.bg-gray{
  background-color: #F3F3F3;
}