<div data-sly-use.relatedArticles="com.techem.core.models.NewshubRelatedArticle">

    <div data-sly-test="${(wcmmode.edit || wcmmode.preview)}" class="cq-placeholder">
        Configure ${component.properties.jcr:title}
    </div>

    <div data-sly-test="${relatedArticles.insertionType}">
        <sly data-sly-test.newsArticles="${relatedArticles.newsArticles || relatedArticles.insertionType == 'automatically' ? relatedArticles.newsArticles : relatedArticles.articleListManually}"/>
        <div class="newshub-related-article aem-GridColumn aem-GridColumn--default--12" data-sly-list.articles="${newsArticles}">
            <sly data-sly-use.template="newshub-related-article-list-template.html" data-sly-call="${template.related_artis @ relatedArticle=articles}">
            </sly>
        </div>
    </div>
</div>