<div data-sly-test="${(wcmmode.edit || wcmmode.preview)}" class="cq-placeholder">
    Configure ${component.properties.jcr:title}
</div>

<section class="cmp-newshub-related-article" data-sly-use.relatedArticle="com.techem.core.models.NewshubRelatedArticle">
    <div class="cmp-newshub-related-article-wrapper">
        <h2 class="cmp-newshub-related-article__headline">${relatedArticle.headline}</h2>
        <div class="cmp-newshub-related-article__body">
            <aside class="cmp-newshub-related-article__aside">
                <div class="cmp-newshub-related-article__image-wrapper">
                    <img class="cmp-newshub-related-article__image" src="${relatedArticle.imageFileReference}" />
                </div>
                <a data-sly-test="${relatedArticle.articleLink}" class="cmp-newshub-related-article__link" href="${relatedArticle.articleLink}">
                    <span class="cmp-newshub-related-article__image-detail">${relatedArticle.imageDetails}</span>
                    <div class="cmp-newshub-related-article__arrow">
                        <i class="cmp-newshubArticles__article-icon">
                            <div class="cmp-newshubArticles-arrow"></div>
                        </i>
                    </div>
                </a>
                <span data-sly-test="${!relatedArticle.articleLink}" class="cmp-newshub-related-article__image-detail">${relatedArticle.imageDetails}</span>
            </aside>
            ${relatedArticle.articleTeaser @ context='html'}
        </div>
    </div>
</section>