<sly data-sly-use.navigation="com.techem.core.models.Navigation"/>
<sly data-sly-test.navigationItems="${navigation.navigationItems.entrySet}"/>

<div data-sly-test="${wcmmode.edit || wcmmode.preview}">
    ${component.properties.jcr:title}
</div>

<div class="search-trigger__overlay"></div>
<header class="header ${navigation.hideNavigation ? 'header-hide-nav' : ''}" data-component-name="navigation">
    <div class="header__wrapper">
        <div class="header__components">
            <div class="header__left">
                <span class="header__logo">
                    <a data-sly-test="${navigation.logoImage}" href="${navigation.logoLink}" target="_self">
                        <img class="header__logo-image" src="${navigation.logoImage}">
                    </a>
                </span>
            </div>
            <div data-sly-test="${navigation.enableSearchbar}" class="headerSearchBar" data-sly-resource="${'yext-search-bar' @ decorationTagName='div', resourceType='techem/components/yext-search-bar' }"></div>
            <div class="header__right">
                <div data-sly-test="${navigation.enableSearchbar}" class="search-trigger__container">
                    <div class="search-trigger__wrapper">
                        <button id="search-trigger" class="search-trigger">
                            <img id="trigger-icon-closed" src="/etc.clientlibs/techem/clientlibs/clientlib-site/resources/images/ico_search.svg" alt="Open Searchbar" class="Icon-image">
                            <img id="trigger-icon-opened" src="/etc.clientlibs/techem/clientlibs/clientlib-site/resources/images/Close.svg" alt="Close Searchbar" class="Icon-image">
                        </button>
                    </div>
                </div>

                <div class="header__portal">
                    <sly data-sly-test="${navigation.PortalItemList.size == 1}" data-sly-list.item="${navigation.PortalItemList}">
                        <a href="${item.portalItemLink @ context='uri'}" target="_blank">${item.portalItemLabel}</a>
                    </sly>

                    <sly data-sly-test="${navigation.PortalItemList.size > 1}">
                        <button class="header__portal-trigger">${navigation.portalBtnLabel}</button>
                        <sly data-sly-use.templates="navigation-templates.html"
                             data-sly-call="${templates.portalSelector @  portalItems = navigation.PortalItemList}">
                        </sly>
                    </sly>
                </div>


                <div class="header_burger-menu">
                    <div class="burger-click-region">
                        <span class="burger-menu-piece"></span>
                        <span class="burger-menu-piece"></span>
                        <span class="burger-menu-piece"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__divider"></div>
        <nav class="navigation" data-sly-test="${!navigation.hideNavigation}">
            <ul class="navigation__links" data-sly-test="${navigationItems}" data-sly-list.map="${navigationItems}">
                <li data-sly-test="${map.key.navTitle}" class="navigation__link"  data-sly-attribute.dropdown-item="${map.key.navTitle.toLowerCase}">
                    <a class="navigation__sub-link"  href="#"> ${map.key.navTitle} <i class="header-icon-mobile">
                        <div class="header-arrow"></div>
                    </i></a>
                </li>

                <sly data-sly-test="${navigation.PortalItemList.size == 1 && mapList.last}" data-sly-list.item="${navigation.PortalItemList}">
                    <li class="navigation__link-portal-nav">
                        <a class="navigation__sub-link" href="${item.portalItemLink @ context='uri'}" target="_blank">
                            ${item.portalItemLabel}
                            <i class="header-icon-mobile">
                                <div class="header-arrow"></div>
                            </i></a>
                    </li>
                </sly>

                <sly data-sly-test="${navigation.PortalItemList.size > 1 && mapList.last}">
                    <li class="navigation__link navigation__link-portal-nav"  data-sly-attribute.dropdown-item="portal-nav">
                        <a class="navigation__sub-link"  href="#"> ${navigation.portalBtnLabel} <i class="header-icon-mobile">
                            <div class="header-arrow"></div>
                        </i></a>
                    </li>
                </sly>
            </ul>

            <!--/* MOBILE LANG NAV */-->
            <div class="header__lang-nav-mobile"></div>

            <div class="header__dropdown-wrapper">
                <div data-sly-test="${navigationItems}" data-sly-list.map="${navigationItems}" data-sly-unwrap>
                    <div class="header__dropdown-content header__dropdown-hidden"  data-sly-attribute.name="${map.key.navTitle.toLowerCase}" data-sly-list.orientation="${map.value.entrySet.iterator}">
                        <div data-sly-unwrap>
                            <div class="header-content__left" data-sly-test="${orientation.key == 'left'}">
                                <div class="header-title-wrapper">
                                    <a data-sly-test="${map.key.pageTitle}" href="${map.key.hidePagePathInFlyout == false ? map.key.pagePath : '#'}" class="header-title" target="_self">
                                        ${map.key.pageTitle}
                                        <i data-sly-test="${map.key.hidePagePathInFlyout == false}" class="header-icon">
                                            <div class="header-arrow"></div>
                                        </i>
                                    </a>
                                </div>
                                <div class="headline-wrapper" data-sly-list.pageDetails="${orientation.value}">
                                    <sly data-sly-use.lib="navigation-templates.html"
                                         data-sly-call="${lib.dropdown_content_left @  pageDetails = pageDetails}">
                                    </sly>
                                </div>
                            </div>
                            <div class="header-content__right" data-sly-test="${orientation.key == 'right'}" data-sly-list="${orientation.value}">
                                <sly data-sly-use.lib="navigation-templates.html"
                                     data-sly-call="${lib.dropdown_content_right @  pageDetails = item, itemList = itemList}">
                                </sly>
                            </div>
                            <div data-sly-test="${orientation.key == 'right'}" class="close"><i class="header-icon">
                                <div class="header-arrow"></div>
                            </i><span>${navigation.backButtonText}</span></div>
                        </div>
                    </div>

                    <div class="header__dropdown-content header__dropdown-hidden" data-sly-test="${mapList.last}" data-sly-attribute.name="portal-nav">
                        <div class="header-content__left">
                            <div class="header-title-wrapper">
                                <span class="header-title">${navigation.portalBtnLabel}</span>
                            </div>
                            <div class="headline-wrapper">
                                <sly data-sly-use.lib="navigation-templates.html"
                                     data-sly-call="${lib.dropdown_content_portal @  portalItems = navigation.PortalItemList}">
                                </sly>
                            </div>
                        </div>
                        <div class="close">
                            <i class="header-icon">
                                <div class="header-arrow"></div>
                            </i>
                            <span>${navigation.backButtonText}</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>