<sly data-sly-use.navigation="com.techem.core.models.Navigation"/>
<sly data-sly-test.navigationItems="${navigation.navigationItems.entrySet}"/>

<div data-sly-test="${wcmmode.edit || wcmmode.preview}">
    ${component.properties.jcr:title}
</div>

<header class="header" data-component-name="navigation">
    <div class="header__wrapper">
        <div class="header__components">
            <div class="header__left">
            <span class="header__logo">
                <a data-sly-test="${navigation.logoImage}" href="${navigation.logoLink}" target="_self">
                    <img class="header__logo-image" src="${navigation.logoImage}">
                </a>
            </span>
            </div>
            <div class="header__right">
                <!--<div class="header__search">-->
                    <!--<div data-sly-resource="${ @path='search', resourceType='techem/components/search'}" data-sly-unwrap=""></div>-->
                    <!--<i class="header__search-icon" aria-hidden="false"></i>-->
                <!--</div>-->
                <sly data-sly-test="${navigation.buttonLink}">
                    <a class="header__button" target="_blank"
                       data-sly-attribute.button-link="${navigation.buttonLink}">
                        <span class="align-icon" data-sly-test="${navigation.buttonIcon == 'man' && navigation.iconOrImage == 'icon'}">
                            <i class="header__button-icon">
                                <div class="header__button-icon-circle"></div>
                                <div class="header__button-icon-stroke"></div>

                            </i>
                        </span>
                        <span data-sly-test="${navigation.iconOrImage == 'image'}">
                            <img class="header__button-icon portal-image" src="${navigation.buttonImagePath}">
                        </span>
                        ${navigation.label}
                    </a>
                </sly>
                <div class="header_burger-menu">
                    <div class="burger-click-region">
                        <span class="burger-menu-piece"></span>
                        <span class="burger-menu-piece"></span>
                        <span class="burger-menu-piece"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__divider"></div>
        <nav class="navigation">
            <ul class="navigation__links" data-sly-test="${navigationItems}" data-sly-list.map="${navigationItems}">
                <li data-sly-test="${map.key.navTitle}" class="navigation__link"  data-sly-attribute.dropdown-item="${map.key.navTitle.toLowerCase}">
                    <a class="navigation__sub-link"  href="#"> ${map.key.navTitle} <i class="header-icon-mobile">
                        <div class="header-arrow"></div>
                    </i></a>
                </li>
            </ul>
            <sly data-sly-test="${navigation.buttonLink}">
                <button class="header__button" data-sly-attribute.button-link="${navigation.buttonLink}">
                    <span data-sly-test="${navigation.buttonIcon == 'man' && navigation.iconOrImage == 'icon'}">
                        <i class="header__button-icon">
                            <div class="header__button-icon-circle"></div>
                            <div class="header__button-icon-stroke"></div>
                        </i>
                    </span>
                    <span data-sly-test="${navigation.iconOrImage == 'image'}">
                        <img class="header__button-icon" src="${navigation.buttonIconPathMobile}">
                    </span>
                    ${navigation.label}
                </button>
            </sly>
            <div class="header__dropdown-wrapper">
                <div data-sly-test="${navigationItems}" data-sly-list.map="${navigationItems}" data-sly-unwrap>
                    <div class="header__dropdown-content header__dropdown-hidden"  data-sly-attribute.name="${map.key.navTitle.toLowerCase}" data-sly-list.orientation="${map.value.entrySet.iterator}">
                        <div data-sly-unwrap>
                            <div class="header-content__left" data-sly-test="${orientation.key == 'left'}">
                                <div class="header-title-wrapper">
                                    <a data-sly-test="${map.key.pageTitle}" href="${map.key.hidePagePathInFlyout == false ? map.key.pagePath : '#'}" class="header-title" target="_self">
                                        ${map.key.pageTitle}
                                        <i data-sly-test="${map.key.hidePagePathInFlyout == false}" class="header-icon">
                                            <div class="header-arrow"></div>
                                        </i>
                                    </a>
                                </div>
                                <div class="headline-wrapper" data-sly-list.pageDetails="${orientation.value}">
                                    <sly data-sly-use.lib="navigation-templates.html"
                                         data-sly-call="${lib.dropdown_content_left @  pageDetails = pageDetails}">
                                    </sly>
                                </div>
                            </div>
                            <div class="header-content__right" data-sly-test="${orientation.key == 'right'}" data-sly-list="${orientation.value}">
                                <sly data-sly-use.lib="navigation-templates.html"
                                     data-sly-call="${lib.dropdown_content_right @  pageDetails = item, itemList = itemList}">
                                </sly>
                            </div>
                            <div data-sly-test="${orientation.key == 'right'}" class="close"><i class="header-icon">
                                <div class="header-arrow"></div>
                            </i><span>${navigation.backButtonText}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
