<template data-sly-template.dropdown_content_left = "${ @ pageDetails}">
    <div class="headline">
        <div class="headline-title__wrapper">
            <a data-sly-test="${pageDetails.pageTitle }" class="headline__title" href="${pageDetails.pagePath}.html" target="_self">
                ${pageDetails.pageTitle}
                <i class="header-icon">
                    <div class="header-arrow"></div>
                </i>
            </a>
        </div>
        <p data-sly-test="${pageDetails.pageDescription}" class="headline__description">${pageDetails.pageDescription} </p>
    </div>
</template>

<template data-sly-template.dropdown_content_right = "${ @ pageDetails, itemList}">
    <div class="image-wrapper">
        <a data-sly-test="${pageDetails.pageImagePath}" href="${pageDetails.pagePath}.html" target="_self">
            <h3 class="image-title">${pageDetails.pageTitle}</h3>
            <img class="image ${itemList.first ? 'image-first' : (itemList.last ? 'image-last' : '')}" src="${pageDetails.pageImagePath}" />
        </a>
    </div>
</template>