.home-stage.carousel {
    max-width: 1920px;
    margin: 141px auto 0;
    .home-stage-item{
        .cmp-teaser{
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            border-bottom: solid 6px $color-primary-button;
        }
        &::after{
            content: '\A';
            position: absolute;
            width: 100%; 
            height: calc(100% - 5px);
            top:0; 
            left:0;
            opacity: 0.8;
            background: radial-gradient(circle at 50% 0, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2) 59%);;
            z-index: 1;
        }
    }
    .home-stage-teaser-item {
        height: 580px;
        max-width: 77pc;
        padding: 0 1em;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        position: relative;
        z-index: 3;
        a{
            text-decoration: none;
            outline: none;
        }
        h1{
            max-width: 571px;
            color: $color-foreground-dark;
            font-size: 50px;
            margin: 0;
            font-family: $font-universe-roman-bold;
            span{
                display: inline-block;
                margin-left: 20px;
                position: relative;
                width: 48px;
                height: 18px;
                transition: all .2s ease-in;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-style: solid;
                    border-color: $color-primary-button;
                    border-width: 3px 3px 0 0;
                    right: 0.5px;
                    transform: rotate(45deg);
                    transition: all .2s ease-in;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    border-style: solid;
                    border-color: $color-primary-button;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 48px;
                    height: 0;
                    border-width: 3px 0 0;
                    transition: all .2s ease-in;
                }
            }
            &:hover{
                span{
                    width: 58px;
                    &::before{
                        right: 0.5px;
                    }
                    &::after{
                        width: 58px;
                    }
                }
            }
        }
    }

    .cmp-carousel {
        position: relative;

        .cmp-carousel__action--pause,
        .cmp-carousel__action--play {
            display: none;
        }

        .cmp-carousel__action--next {
            display: block;
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
            border: 0;
            background: 0;
            outline: none;
            height: 100%;
            width: 25%;
            z-index: 3;
            cursor: pointer;
            &:hover{
                cursor: url(#{$iconsPath}/navigation-chevron-right-white.svg), auto;
            }
        }
        .cmp-carousel__action-text{
            display: none;
        }

        .cmp-carousel__action--previous {
            display: block;
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            border: 0;
            background: 0;
            outline: none;
            height: 100%;
            width: 25%;
            z-index: 3;
            cursor: pointer;
            &:hover{
                cursor: url(#{$iconsPath}/navigation-chevron-left-white.svg), auto;
            }
        }

        .cmp-carousel__indicators {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 30px;
            z-index: 3;
        }

        .cmp-carousel__indicator {
            border-radius: 0;
            font-size: 0;
            width: 40px;
            height: 4px;
            background: #B2B2B1;
            background-size: 200% 100%;
            background-position: right bottom;
        }

        .cmp-carousel__indicator--active {
            background: linear-gradient(to right, $color-primary-button 50%, #B2B2B1 50%);
            background-size: 200% 100%;
            background-position: left bottom;
            transition: all 5s ease-out;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .home-stage.carousel {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .home-stage.carousel {
        .home-stage-teaser-item {
            height: 400px;
            h1{
                font-size: 26px;
                line-height: 34px;
                span{
                    width: 28px;
                    height: 13px;
                    &::before {
                        width: 11px;
                        height: 11px;
                        border-width: 2px 2px 0 0;
                    }
    
                    &::after {
                        width: 28px;
                        border-width: 2px 0 0;
                    }
                }
            }
        }
    }
}